.mealList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
.list {
  background-color: white;
  width: 60%;
  border-radius: 15px;
}
#price {
  color: rgb(143, 14, 14);
  font-weight: bold;
  font-size: 20px;
}
.list li {
  padding: 30px 5px;
  list-style: none;
}
.list li hr {
  margin-right: 1.5rem;
}
