:root {
  --width: 22%;
}
.items {
  border: 1px solid black;
  margin: 1rem auto;
  width: 75%;
  height: 600px;
}
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table tr {
  width: 100%;
  display: flex;
  align-items: center;
}
th {
  width: var(--width);
  display: flex;
  align-items: center;
  justify-content: center;
}
td {
  width: var(--width);
  display: flex;
  align-items: center;
  justify-content: center;
}
