.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}
.form {
  width: 20%;
  font-weight: bold;
  font-size: 20px;
  padding: 0.5rem;
}
.form input {
  width: 30%;
  height: 45;
  margin-left: 1rem;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
